<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>    

   
 
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/font-awesome.css" rel="stylesheet" />
    <link href="style/bootstrap2-toggle.css" rel="stylesheet" />
    <link href="icons/font-worklink.css" rel="stylesheet" />

    <link href="style/mtree.css" rel="stylesheet" />
    <link href="dash.css" rel="stylesheet" />

    <title></title>
</head>
<body ng-app="app" ng-controller="totalController as vm">
















    <div id="wrapper2" class="">
        <!-- Sidebar -->
        <div id="sidebar-wrapper2">
            <div style="border-bottom:1px solid rgb(58, 58, 58);">

                <i class="fa fa-align-justify fa-2x" style="padding:15px;color: #707070;"></i>

                <i class="fa fa-power-off fa-2x" style="padding:15px;float:right;color: #707070;"></i>

            </div>


            <div style="padding: 10px 0px 15px 20px;">
                <img src="Image/profileimage.jpg" class="img-circle" style="
    width: 50px;
" />



                <span style="color:#fff;margin-left:5px">indina Smith</span>
            </div>


            <div class="user-info-block" style="position: relative;
top: -15px;">
                <div class="user-heading name-dash" style="

">



                </div>
                <ul class="navigation" style="opacity:0.6">



                    <li class="active">
                        <a data-toggle="tab" href="#information">
                            <i class="icon-sidenav icon-product user-dash-icon"></i>
                        </a>

                    </li>
                    <li>
                        <a data-toggle="tab" href="#settings">
                            <i class=" fa fa-comments fa-2x user-dash-icon"></i>
                        </a>

                    </li>
                    <li>
                        <a data-toggle="tab" href="#email">
                            <i class=" fa fa-bell user-dash-icon"></i>
                        </a>

                    </li>
                    <li>
                        <a data-toggle="tab" href="#events">
                            <i class=" fa fa-cog user-dash-icon"></i>
                        </a>

                    </li>
                </ul>
                <div class="user-body tab-header" style="
    margin-bottom: 20px;
">
                    <div class="tab-content ">
                        <div id="information" class="tab-pane active ">
                            <h5 class="gray">Account Information</h5>






                        </div>
                        <div id="#settings" class="tab-pane">
                            <h4>Settings</h4>

                        </div>
                        <div id="email" class="tab-pane">
                            <h4>Send Message</h4>

                        </div>
                        <div id="events" class="tab-pane">
                            <h4>Events</h4>

                        </div>
                    </div>

                </div><ul>
                    <li>
                        <div>
                            <span class="badge pull-right">10</span>

                            <span class="gray">Email</span>
                        </div>
                    </li>
                </ul>
            </div>




            <!-- /#sidebar-wrapper -->
        </div>


    </div>


    <div id="wrapper" class="">
        <!-- Sidebar -->
        <div id="sidebar-wrapper" style="left:0;margin-left:0;width:80px">
            <ul class="sidebar-nav" style="margin-top:10px;width:100%;padding:0">

                <li class="sidebar-brand center">
                    <img src="Image/logo-wl.png" style="
    width: 50px;

" />
                </li>


                <li class="center">
                    <a href="#">
                        <i class="fa fa-search fa-2x" style="height:65px;font-size:48px;line-height:60px;color:#707070;margin-left: -10px;"></i>
                        <p class="wl-menu-name">Search</p>

                    </a>





                </li>
                <li class="center">
                    <a href="#" style="border-left: 5px solid #0086b7;">
                        <i class="wl-menu icon-overview2"></i>
                        <p class="wl-menu-name">Overview</p>
                    </a>

                </li>


                <li class="center">
                    <a href="#" style="border-left: 5px solid #0086b7;">
                        <i class="fa fa-building-o fa-2x" style="height:65px;font-size:48px;line-height:60px;color:#707070;margin-left: -10px;"></i>
                        <p class="wl-menu-name">Companies</p>
                    </a>

                </li>
                <li class="center">
                    <a href="#">
                        <i class=" wl-menu icon-jobads2"></i>
                        <p class="wl-menu-name">Jobads</p>
                    </a>

                </li>

                <li class="center">
                    <a href="#">
                        <i class="wl-menu icon-contacts2"></i>
                        <p class="wl-menu-name">Canidates</p>
                    </a>

                </li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <!-- /#page-content-wrapper -->
    </div>





    <div id="page-content-wrapper " style="margin-left:90px;margin-right:250px">


        <div class="container-fluid">
            <div class="row banner">



                <div class="col-lg-4">


                    <img src="Image/Statoil%20Horizontal%2025_darkbackground.png" style="
    height: 160px;
" />



                </div>




                <div class="col-lg-8">

                    <h2>Statoil</h2>


                    <!--<button type="button" class="btn btn-spotify btn-primary" style="
                        border-radius: 30px;
                    ">
                                            Føløg
                                        </button>-->
                    <button type="button" class="btn btn-spotify btn-outline " style="
                border-radius: 30px;
            ">
                        Følg
                    </button>


                    <button type="button" class="btn btn-spotify btn-outline btn-round" style="
                border-radius: 30px;
            ">
                        <i class="fa fa-ellipsis-h"></i>
                    </button>

                </div>
                <!--<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>-->

            </div>




            <div class="row">
                <!-- Static navbar -->
                <nav class="navbar navbar-default">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">


                            <li class="active"><a href="#">About</a></li>
                            <li><a href="#">Carreer</a></li>

                            <li><a href="#">Jobads</a></li>


                        </ul><div style="float:right;">


 
</div>
                        <ul class="nav navbar-nav navbar-right" style="
    padding-top: 10px;
">
                            <li><i class="fa fa-margin-r fa-2x fa-facebook"></i></li>
                            <li><i class="fa fa-margin-r fa-2x fa-linkedin"></i></li>
                            <li><i class="fa fa-2x fa-twitter"></i></li>

                        </ul>
                    </div>
                  



                </nav>


            </div>


            <div class="row" style="margin-top:40px;">

                <div class="col-lg-1"></div>
                <div class="col-lg-3">


                    <!-- /tabbable -->
                    <ul class="company-info">
                        <li><h2>Company info</h2></li>




                        <li ng-init="vm.isVisitAddressVisible = true">
                            <div class="tabs-left" style="margin-right:60px">
                                <ul class="nav nav-tabs">
                                    <li ng-class="{active:vm.isVisitAddressVisible}"><a href="" ng-click="vm.isVisitAddressVisible=true"><i class="fa fa-building"></i></a></li>
                                    <li ng-class="{active:!vm.isVisitAddressVisible}"><a href="" ng-click="vm.isVisitAddressVisible=false"><i class="fa fa-envelope-o"></i></a></li>

                                </ul>
                                <div class="tab-content2">
                                    <div style="background:white" ng-show="vm.isVisitAddressVisible" class="tab-pane">
                                        <h4>Headquarters</h4>
                                        Eikremsvingen 13 <br /> Molde, 6422 Norway


                                    </div>
                                    <div style="background:white" ng-hide="vm.isVisitAddressVisible" class=" tab-pane">
                                        <h3>What's your Favorite?</h3>

                                    </div>

                                </div><!-- /tab-content -->
                            </div>
                        </li>
                        <li>


                            <h4>Company size</h4>


                            11-50 empleyeers
                        </li>

                        <li>
                            <h4>Website</h4>
                            Http://www.trangel.no
                        </li>
                        <li>
                            <h4>Type</h4>


                            Privately held

                        <li>
                            <h4>Contacts</h4>
                            <ul>
                                <li style="margin-bottom:10px">
                                    <img style="max-width: 32px;
height: 32px;;margin-top: 0px;margin-right: 10px;" src="Image/profileimage.jpg" />
                                    <span>Indina Smith</span>
                                </li>


                                <li style="margin-bottom:10px">
                                    <img style="max-width: 32px;
height: 32px;;margin-top: 0px;margin-right: 10px;" src="Image/profileimage.jpg" />
                                    <span>Indina Smith</span>
                                </li>


                                <li>
                                    <img style="max-width: 32px;
height: 32px;;margin-top: 0px;margin-right: 10px;" src="Image/profileimage.jpg" />
                                    <span>Indina Smith</span>
                                </li>
                            </ul>


                        </li>


                        <li>

                        </li>

                    </ul>







                </div>
                <div class="col-lg-6 ">




                    <div class="row well" style="padding:30px;margin-top:10px;">
                        <img src="Image/banner-company.png" class="img-responsive" />




                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>



                    </div>



                </div>


                <div class="col-lg-2"></div>
            </div>

        </div>










    </div>
























    <!--class="avdeling-wrapper "-->
    <!--<form class="form-horizontal">
        <fieldset>


            <legend>Vacencay</legend>


            <div class="form-group">
                <label class="col-md-4 control-label" for="Title">Title</label>
                <div class="col-md-4">
                    <input id="Title" name="Title" type="text" placeholder="Title of vacencey" class="form-control input-md" required="">

                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="Type of job">Type of job</label>
                <div class="col-md-4">
                    <select id="Type of job" name="Type of job" class="form-control">
                        <option value="1">Fast</option>
                        <option value="2">Sessong</option>
                    </select>
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="bransje">Bransje</label>
                <div class="col-md-4">
                    <select id="bransje" name="bransje" class="form-control">
                        <option value="1">Option one</option>
                        <option value="2">Option two</option>
                    </select>
                </div>
            </div>

        </fieldset>
    </form>-->
    </div>










    <script src="Scripts/jquery-2.1.3.js"></script>

    <script src="Scripts/mtree.js"></script>

    <script src="Scripts/bootstrap2-toggle.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script>

        angular.module('app', []).controller('totalController', function ($scope) {
            var vm = this;




        });

    </script>



</body>

</html>
