<div class="container-fluid">
    <div class="row banner">



        <div class="col-lg-4">


            <img src="Image/Statoil%20Horizontal%2025_darkbackground.png" style="
    height: 160px;
" />



        </div>




        <div class="col-lg-8">

            <h2>Statoil</h2>


            <!--<button type="button" class="btn btn-spotify btn-primary" style="
                border-radius: 30px;
            ">
                                    Føløg
                                </button>-->
            <button type="button" class="btn btn-spotify btn-outline " style="
                border-radius: 30px;
            ">
                Følg
            </button>


            <button type="button" class="btn btn-spotify btn-outline btn-round" style="
                border-radius: 30px;
            ">
                <i class="fa fa-ellipsis-h"></i>
            </button>

        </div>
        <!--<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>-->

    </div>




    <div class="row">
        <!-- Static navbar -->
        <nav class="navbar navbar-default">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">


                    <li class="active"><a href="#">About</a></li>
                    <li><a href="#">Carreer</a></li>

                    <li><a href="#">Jobads</a></li>


                </ul><div style="float:right;">



                </div>
                <ul class="nav navbar-nav navbar-right" style="
    padding-top: 10px;
">
                    <li><i class="fa fa-margin-r fa-2x fa-facebook"></i></li>
                    <li><i class="fa fa-margin-r fa-2x fa-linkedin"></i></li>
                    <li><i class="fa fa-2x fa-twitter"></i></li>

                </ul>
            </div>




        </nav>


    </div>


    <div class="row" style="margin-top:40px;">

        <div class="col-lg-1"></div>
        <div class="col-lg-3">


            <!-- /tabbable -->
            <ul class="company-info">
                <li><h2>Company info</h2></li>




                <li ng-init="vm.isVisitAddressVisible = true">
                    <div class="tabs-left" style="margin-right:60px">
                        <ul class="nav nav-tabs">
                            <li ng-class="{active:vm.isVisitAddressVisible}"><a href="" ng-click="vm.isVisitAddressVisible=true"><i class="fa fa-building"></i></a></li>
                            <li ng-class="{active:!vm.isVisitAddressVisible}"><a href="" ng-click="vm.isVisitAddressVisible=false"><i class="fa fa-envelope-o"></i></a></li>

                        </ul>
                        <div class="tab-content2">
                            <div style="background:white" ng-show="vm.isVisitAddressVisible" class="tab-pane">
                                <h4>Headquarters</h4>
                                Eikremsvingen 13 <br /> Molde, 6422 Norway


                            </div>
                            <div style="background:white" ng-hide="vm.isVisitAddressVisible" class=" tab-pane">
                                <h3>What's your Favorite?</h3>

                            </div>

                        </div><!-- /tab-content -->
                    </div>
                </li>
                <li>


                    <h4>Company size</h4>


                    11-50 empleyeers
                </li>

                <li>
                    <h4>Website</h4>
                    Http://www.trangel.no
                </li>
                <li>
                    <h4>Type</h4>


                    Privately held

                <li>
                    <h4>Contacts</h4>
                    <ul>
                        <li style="margin-bottom:10px">
                            <img style="max-width: 32px;
height: 32px;;margin-top: 0px;margin-right: 10px;" src="Image/profileimage.jpg" />
                            <span>Indina Smith</span>
                        </li>


                        <li style="margin-bottom:10px">
                            <img style="max-width: 32px;
height: 32px;;margin-top: 0px;margin-right: 10px;" src="Image/profileimage.jpg" />
                            <span>Indina Smith</span>
                        </li>


                        <li>
                            <img style="max-width: 32px;
height: 32px;;margin-top: 0px;margin-right: 10px;" src="Image/profileimage.jpg" />
                            <span>Indina Smith</span>
                        </li>
                    </ul>


                </li>


                <li>

                </li>

            </ul>







        </div>
        <div class="col-lg-6 ">




            <div class="row well" style="padding:30px;margin-top:10px;">
                <img src="Image/banner-company.png" class="img-responsive" />




                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>



            </div>



        </div>


        <div class="col-lg-2"></div>
    </div>

</div>

