<div class="row">

    <div class="col-md-2"></div>


    <div class="col-md-8 widget">
        <div class="col-md-4" role="complementary" style="
    margin-top: 20px;
">
            <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm " style="border-right:  1px solid #e5e5e5;
padding: 40px;
min-height: 600px;">
                <ul class="nav bs-docs-sidenav">

                    <li class="">
                        <a href="#glyphicons">Profile</a>
                    </li>
                    <li><a href="#breadcrumbs">Security</a></li>
                    <li>
                        <a href="#media">Settings</a>

                    </li>
                    <li>
                        <a href="#media">CV</a>

                    </li>

                </ul>

            </nav>
        </div>



        <div class="col-md-8 " role="complementary">

            <form class="form-horizontal" style="margin-top:60px;">
                <fieldset>



                    <legend>Profile information</legend>
                    <table class="table-padding" style="width:100%">
                        <tr>
                            <td>Name</td>
                            <td>Indina Smith</td>
                            <td>Change</td>
                        </tr>
                        <tr>
                            <td>Image</td>
                            <td>Image</td>
                            <td>Change</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>Indina@hotmail.no</td>
                            <th>Change</th>
                        </tr>

                        <tr>
                            <td>Password</td>
                            <td>*******</td>
                            <td>Change</td>
                        </tr>



                        <tr>
                            <td>Payment</td>
                            <td>See history</td>
                            <td>Change</td>
                        </tr>


                        <tr>
                            <td>Choose language</td>
                            <td>English</td>
                            <td>Change</td>
                        </tr>
                    </table>






                    <!-- Form Name -->


                </fieldset>
            </form>


        </div>
    </div>



    <div class="col-md-2"></div>
</div>