

<div id="sidebar-wrapper3" class="" style="background: #D4D4D4;border-right:1px solid #B9B9B9;">
    <form class="form-horizontal" style="
    padding: 30px;
">
        <fieldset>

            <!-- Form Name -->
            <h4>Søk</h4>

            <!-- Multiple Radios -->
            <div class="form-group">

                <div class="col-md-4">
                    <div class="radio">
                        <label for="radios-0">
                            <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
                            Allestillinger
                        </label>
                    </div>
                    <div class="radio">
                        <label for="radios-1">
                            <input type="radio" name="radios" id="radios-1" value="2">
                            Lederstillinger
                        </label>
                    </div>
                    <div class="radio">
                        <label for="radios-2">
                            <input type="radio" name="radios" id="radios-2" value="3">
                            Deltidsstillinger
                        </label>
                    </div>
                </div>
            </div>

            <!-- Password input-->
            <div class="form-group">

                <div class="col-md-4">
                    <input id="passwordinput" name="passwordinput" type="password" placeholder="Ord i annonsen" style="
    width: 230PX;
" class="form-control input-md">

                </div>
            </div>




























        </fieldset>
    </form>


    <ul class="mtree bubba" style="opacity:1;">


        <!--<li class="search">
            <a href="#">Område</a>

            <ul>
                <li>
                    <div class="radio">
                        <label for="radios-0">
                            <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
                            Allestillinger
                        </label>
                    </div>

                </li>
                <li>
                    <div class="radio">
                        <label for="radios-0">
                            <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
                            Allestillinger
                        </label>
                    </div>
                </li>
                <li>
                    <div class="radio">
                        <label for="radios-0">
                            <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
                            Allestillinger
                        </label>
                    </div>
                </li>

            </ul>

        </li>-->
        <li style="border-top: 1px solid #B9B9B9;">
            <a href="#">Stilling</a>

            <ul>
                <li>
                    <div class="radio">
                        <label for="radios-0">
                            <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
                            Allestillinger
                        </label>
                    </div>

                </li>
                <li>
                    <div class="radio">
                        <label for="radios-0">
                            <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
                            Allestillinger
                        </label>
                    </div>
                </li>
                <li>
                    <div class="radio">
                        <label for="radios-0">
                            <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
                            Allestillinger
                        </label>
                    </div>
                </li>

            </ul>


        <li>
            <a href="#">Bransje</a>

            <ul>
                <li>
                    <div class="radio">
                        <label for="radios-0">
                            <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
                            Allestillinger
                        </label>
                    </div>

                </li>
                <li>
                    <div class="radio">
                        <label for="radios-0">
                            <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
                            Allestillinger
                        </label>
                    </div>
                </li>
                <li>
                    <div class="radio">
                        <label for="radios-0">
                            <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
                            Allestillinger
                        </label>
                    </div>
                </li>

            </ul>

        </li>
        <li>
            <a href="#">Ansettelsesform</a><ul>
                <li>
                    <a href="#">Analyse</a>

                </li>
                <li><a href="#">Sarkitektur og planlegging</a></li>
                <li><a href="#">Arkivar og bibliotekar (0)</a></li>
                <li><a href="#">Brannvern (0)</a></li>
                <li><a href="#">Sarkitektur og planlegging</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Heltid/deltid</a><ul>
                <li>
                    <a href="#">Analyse</a>

                </li>
                <li><a href="#">Sarkitektur og planlegging</a></li>
                <li><a href="#">Arkivar og bibliotekar (0)</a></li>
                <li><a href="#">Brannvern (0)</a></li>
                <li><a href="#">Sarkitektur og planlegging</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Sektor</a>
            <ul>
                <li>
                    <div class="radio">
                        <label for="radios-0">
                            <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
                            Allestillinger
                        </label>
                    </div>

                </li>
                <li>
                    <div class="radio">
                        <label for="radios-0">
                            <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
                            Allestillinger
                        </label>
                    </div>
                </li>
                <li>
                    <div class="radio">
                        <label for="radios-0">
                            <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
                            Allestillinger
                        </label>
                    </div>
                </li>

            </ul>

        </li>

        <li><a href="#">Lederkategori</a></li>
        <li><a href="#">Søknadsfrist</a></li>
        <li><a href="#">Publisert</a></li>
    </ul>















</div>



<form class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <!-- Select Basic -->
        <div class="form-group " style="float:right;padding:30px">

            <div class="col-md-4" style="width:200px;">
                <select id="" name="" class="form-control">
                    <option value="1">Mest relevant</option>
                    <option value="2">Publisert</option>
                    <option value="3">Arbeidsgiver</option>
                    <option value="4">Sted</option>
                </select>
            </div>
        </div>

    </fieldset>
</form>


<div class="row">
    <div class="col-md-2">

    </div>






    <div class="col-md-8 well" style="margin-top:60px;">




        <div class="col-md-2">
            <img src="Image/telenor_400_400_black.jpg" alt="" style="width:100%;max-height:200px;max-width:100%;padding: 20px 10px 10px 5px;" />
        </div>
        <div class="col-md-7">

            <h3>Tilte</h3>
            <span>Bedrift | </span>
            <span>Oslo, Nordsrand</span>
            <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt </p>
            <div style="margin-bottom:10px;">
                <span class="label tag label-info">Info</span><span class="label tag label-info">Info</span><span class="label tag label-info">Info</span><span class=" tag label label-info">Info</span>

            </div>


        </div>

        <div class="col-md-3">
            <table style="font-size: 12px; margin:20px 15px" cellpadding="10">
                <tbody>
                    <tr>
                        <td>Ant stillinger:</td>
                        <td><strong class="ng-binding">1</strong></td>
                    </tr>
                    <tr>
                        <td>Number of positions:</td>
                        <td><strong class="ng-binding">3</strong></td>
                    </tr>

                    <tr>
                        <td>Stillingstype:</td>
                        <td><strong class="ng-binding">Fast</strong></td>
                    </tr>
                    <tr>
                        <td>Frist:</td>
                        <td>
                            <strong ng-hide="job.isDeadlineAsap" class="ng-binding ng-hide"></strong>
                            <strong ng-show="job.isDeadlineAsap" class="">Snarest</strong>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>
















    <div class="col-md-1">

    </div>
</div>
<div class="row hide">
    <div class="col-md-1">

    </div>






    <div class="col-md-10 well" style="margin-top:60px;">





        <div class="col-md-8">

            <div class="col-md-2">


                <img class="img-circle" src="Image/profileimage.jpg" alt="" style="width:100%;max-height:75px;max-width:75px;margin-top:10px;" />


            </div>

            <div class="col-md-10">
                <h3>Indina smith</h3>
                <span>Programmerer | </span>
                <span>Oslo, Nordsrand</span>
            </div>

            <div class="col-md-12" style="padding-top:5px;">
                <div style="margin-bottom:15px;margin-top:10px">
                    <span class="label tag label-info">Info</span><span class="label tag label-info">Info</span><span class="label tag label-info">Info</span><span class=" tag label label-info">Info</span>
                    <span class="label tag label-info">Info</span><span class="label tag label-info">Info</span><span class="label tag label-info">Info</span><span class=" tag label label-info">Info</span>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <table style="font-size: 12px; margin:20px 15px">
                <tbody>
                    <tr>
                        <td>Status:</td>
                        <td><strong class="ng-binding">Arbeid</strong></td>
                    </tr>
                    <tr>
                        <td>Postet:</td>
                        <td>
                            <strong ng-hide="job.isDeadlineAsap" class="ng-binding ng-hide"></strong>
                            <strong ng-show="job.isDeadlineAsap" class="">New</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>Stillingstype:</td>
                        <td><strong class="ng-binding">Fast</strong></td>
                    </tr>
                    <tr>
                        <td>Frist:</td>
                        <td>
                            <strong ng-hide="job.isDeadlineAsap" class="ng-binding ng-hide"></strong>
                            <strong ng-show="job.isDeadlineAsap" class="">Snarest</strong>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>
















    <div class="col-md-1">

    </div>
</div>