
<div class="row hide">
    <div class="col-lg-2">



    </div>

    <div class="col-lg-8">
        <div class="row well">
            <div class="col-lg-2">

                <img src="Image/telenor_400_400_black.jpg" alt="" class="img-responsive" style="
    width: 100px;
" />
            </div>
            <div class="col-lg-5">


                <h3>Programmerer</h3>
                <h4>Maritech</h4>


                <div style="
   position: absolute;
top: 70px;
left: 340px;
">
                    <i class="fa  fa-2x fa-user"></i>

                    <i class="fa fa-margin fa-2x fa-pencil-square"></i>

                    <i class="fa fa-2x fa-ellipsis-h"></i>
                </div>



            </div>

            <div style="background-color:black;">
                <div class="col-lg-3" style="background-color:#1a2229;color:#fff;height: 100px;">
                    <div class="col-lg-4 center">
                        <h2>22</h2>
                        <p>Applie</p>

                    </div>
                    <div class="col-lg-4 center">
                        <h2>123</h2>
                        <p>Search</p>
                    </div>
                    <div class="col-lg-4 center">
                        <h2>1</h2>
                        <p>Views</p>
                    </div>
                </div>
                <div class="col-lg-2 center" style="background-color:#0086b7;color:#fff;height: 100px;">
                    <h2>23</h2>
                    <p>dager igjen</p>



                </div>
            </div>
        </div>


        <div class="row well">
            <div class="col-lg-2">

                <img src="Image/telenor_400_400_black.jpg" alt="" class="img-responsive" style="
    width: 100px;
" />
            </div>
            <div class="col-lg-5">


                <h3>Programmerer</h3>
                <h4>Maritech</h4>


                <div style="
   position: absolute;
top: 70px;
left: 340px;
">
                    <i class="fa  fa-2x fa-user"></i>

                    <i class="fa fa-margin fa-2x fa-pencil-square"></i>

                    <i class="fa fa-2x fa-ellipsis-h"></i>
                </div>



            </div>

            <div style="background-color:black;">
                <div class="col-lg-3" style="background-color:#1a2229;color:#fff;height: 100px;">
                    <div class="col-lg-4 center">
                        <h2>22</h2>
                        <p>Applie</p>

                    </div>
                    <div class="col-lg-4 center">
                        <h2>123</h2>
                        <p>Search</p>
                    </div>
                    <div class="col-lg-4 center">
                        <h2>1</h2>
                        <p>Views</p>
                    </div>
                </div>
                <div class="col-lg-2 center" style="background-color:#0086b7;color:#fff;height: 100px;">
                    <h2>23</h2>
                    <p>dager igjen</p>



                </div>
            </div>
        </div>
    </div>
</div>