<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>Velkommen kjære bruker!</h2>
        <h4>Til worklink bal bla</h4>
    </div>
    <div class="col-lg-4">
        <div class="title-action">

            <a href="#" class="btn btn-white">

                <i class="fa fa-list fa-2x"></i>
            </a>
            <a href="invoice_print.html" target="_blank" class="btn btn-primary">
                <i class="fa fa-building"></i>
                Gå til våre produkter
            </a>
        </div>
    </div>
</div>




<div class="row">

    <!-- begin col-3 -->
    <div class="col-md-4 col-sm-6">
        <div class="widget widget-stats bg-blue">


            <div class="col-md-2">
                <img src="Image/telenor_400_400_black.jpg" alt="" style="width: 180%;max-height: 100px;max-width: 100px;padding-top: 15px;margin-left: -18px;" />
            </div>
            <div class="col-md-6">
                <h4>Tilte</h4>
                <span>Bedrift | </span>
                <span>Oslo, Nordsrand</span>
                <div style="margin-top:10px;">
                    <span class="label tag label-info">Info</span><span class="label tag label-info">Info</span><span class="label tag label-info">Info</span><span class=" tag label label-info">Info</span>
                </div>

            </div>
            <div class="col-md-4">
                <table style="font-size: 12px; margin:20px 15px" cellpadding="10">
                    <tbody>
                        <tr>
                            <td><strong class="ng-binding">1 stilling</strong></td>
                        </tr>

                        <tr>
                            <td><strong class="ng-binding">Fast</strong></td>
                        </tr>
                        <tr>
                            <td>
                                snarest
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-md-4 col-sm-6">
        <div class="widget widget-stats bg-blue">


            <div class="col-md-2">
                <img src="Image/telenor_400_400_black.jpg" alt="" style="width: 180%;max-height: 100px;max-width: 100px;padding-top: 15px;margin-left: -18px;" />
            </div>
            <div class="col-md-6">
                <h4>Tilte</h4>
                <span>Bedrift | </span>
                <span>Oslo, Nordsrand</span>
                <div style="margin-top:10px;">
                    <span class="label tag label-info">Info</span><span class="label tag label-info">Info</span><span class="label tag label-info">Info</span><span class=" tag label label-info">Info</span>
                </div>

            </div>
            <div class="col-md-4">
                <table style="font-size: 12px; margin:20px 15px" cellpadding="10">
                    <tbody>
                        <tr>
                            <td><strong class="ng-binding">1 stilling</strong></td>
                        </tr>

                        <tr>
                            <td><strong class="ng-binding">Fast</strong></td>
                        </tr>
                        <tr>
                            <td>
                                snarest
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-md-4 col-sm-6">
        <div class="widget widget-stats bg-blue">


            <div class="col-md-2">
                <img src="Image/telenor_400_400_black.jpg" alt="" style="width: 180%;max-height: 100px;max-width: 100px;padding-top: 15px;margin-left: -18px;" />
            </div>
            <div class="col-md-6">
                <h4>Tilte</h4>
                <span>Bedrift | </span>
                <span>Oslo, Nordsrand</span>
                <div style="margin-top:10px;">
                    <span class="label tag label-info">Info</span><span class="label tag label-info">Info</span><span class="label tag label-info">Info</span><span class=" tag label label-info">Info</span>
                </div>

            </div>
            <div class="col-md-4">
                <table style="font-size: 12px; margin:20px 15px" cellpadding="10">
                    <tbody>
                        <tr>
                            <td><strong class="ng-binding">1 stilling</strong></td>
                        </tr>

                        <tr>
                            <td><strong class="ng-binding">Fast</strong></td>
                        </tr>
                        <tr>
                            <td>
                                snarest
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <!-- end col-3 -->



</div>













<div class="row">

    <div class="col-md-4">
        <div class="panel panel-inverse" data-sortable-id="index-5">
            <div class="panel-heading">
                <div class="panel-heading-btn">

                </div>
                <h4 class="panel-title">My applications</h4>
            </div>
            <div class="panel-body">




                <div class="col-md-12 " style="border-bottom:1px solid #eeeeee;">




                    <!--<div class="col-md-2">
                        <img src="Image/telenor_400_400_black.jpg" alt="" style="width: 180%;max-height: 100px;max-width: 100px;padding-top: 15px;margin-left: -18px;" />
                    </div>-->
                    <div class="col-md-8">

                        <h4>Tilte</h4>
                        <span>Bedrift | </span>
                        <span>Oslo, Nordsrand</span>
                        <div style="margin-top:10px;margin-bottom:10px">
                            <button type="button" class="btn btn-primary btn-xs">Se min søknad</button>
                            <button type="button" class="btn btn-primary btn-xs">Se stilling</button>
                        </div>


                    </div>

                    <div class="col-md-4">
                        <table style="font-size: 12px; margin:20px 15px" cellpadding="10">
                            <tbody>
                                <tr>

                                    <td><strong class="ng-binding">Recieving</strong></td>
                                </tr>


                                <tr>

                                    <td><strong class="ng-binding">3 days left</strong></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>


                    <div class="stats-progress progress">
                        <div class="progress-bar2" style="width: 70.1%;"></div>
                    </div>


                </div>

                <div class="col-md-12 " style="border-bottom:1px solid #eeeeee;">




                    <!--<div class="col-md-2">
                        <img src="Image/telenor_400_400_black.jpg" alt="" style="width: 180%;max-height: 100px;max-width: 100px;padding-top: 15px;margin-left: -18px;" />
                    </div>-->
                    <div class="col-md-8">

                        <h4>Tilte</h4>
                        <span>Bedrift | </span>
                        <span>Oslo, Nordsrand</span>
                        <div style="margin-top:10px;margin-bottom:10px">
                            <button type="button" class="btn btn-primary btn-xs">Se min søknad</button>
                            <button type="button" class="btn btn-primary btn-xs">Se stilling</button>
                        </div>


                    </div>

                    <div class="col-md-4">
                        <table style="font-size: 12px; margin:20px 15px" cellpadding="10">
                            <tbody>
                                <tr>

                                    <td><strong class="ng-binding">Recieving</strong></td>
                                </tr>


                                <tr>

                                    <td><strong class="ng-binding">3 days left</strong></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>


                    <div class="stats-progress progress">
                        <div class="progress-bar2" style="width: 70.1%;"></div>
                    </div>


                </div>

                <div class="col-md-12 " style="border-bottom:1px solid #eeeeee;">




                    <!--<div class="col-md-2">
                        <img src="Image/telenor_400_400_black.jpg" alt="" style="width: 180%;max-height: 100px;max-width: 100px;padding-top: 15px;margin-left: -18px;" />
                    </div>-->
                    <div class="col-md-8">

                        <h4>Tilte</h4>
                        <span>Bedrift | </span>
                        <span>Oslo, Nordsrand</span>
                        <div style="margin-top:10px;margin-bottom:10px">
                            <button type="button" class="btn btn-primary btn-xs">Se min søknad</button>
                            <button type="button" class="btn btn-primary btn-xs">Se stilling</button>
                        </div>


                    </div>

                    <div class="col-md-4">
                        <table style="font-size: 12px; margin:20px 15px" cellpadding="10">
                            <tbody>
                                <tr>

                                    <td><strong class="ng-binding">Recieving</strong></td>
                                </tr>


                                <tr>

                                    <td><strong class="ng-binding">3 days left</strong></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>


                    <div class="stats-progress progress">
                        <div class="progress-bar2" style="width: 70.1%;"></div>
                    </div>


                </div>

            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-primary btn-xs" style="float:right">Se alle</button>
            </div>
        </div>



    </div>

    <div class="col-md-8">
        <div class="panel panel-inverse" data-sortable-id="index-5">
            <div class="panel-heading">
                <div class="panel-heading-btn">

                </div>
                <h4 class="panel-title">My applications</h4>
            </div>
            <div class="panel-body">




                <div class="col-md-12 " style="border-bottom:1px solid #eeeeee;">




                    <!--<div class="col-md-2">
                        <img src="Image/telenor_400_400_black.jpg" alt="" style="width: 180%;max-height: 100px;max-width: 100px;padding-top: 15px;margin-left: -18px;" />
                    </div>-->
                    <div class="col-md-8">

                        <h4>Tilte</h4>
                        <span>Bedrift | </span>
                        <span>Oslo, Nordsrand</span>
                        <div style="margin-top:10px;margin-bottom:10px">
                            <button type="button" class="btn btn-primary btn-xs">Se min søknad</button>
                            <button type="button" class="btn btn-primary btn-xs">Se stilling</button>
                        </div>


                    </div>

                    <div class="col-md-4">
                        <table style="font-size: 12px; margin:20px 15px" cellpadding="10">
                            <tbody>
                                <tr>

                                    <td><strong class="ng-binding">Recieving</strong></td>
                                </tr>


                                <tr>

                                    <td><strong class="ng-binding">3 days left</strong></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>


                    <div class="stats-progress progress">
                        <div class="progress-bar2" style="width: 70.1%;"></div>
                    </div>


                </div>

                <div class="col-md-12 " style="border-bottom:1px solid #eeeeee;">




                    <!--<div class="col-md-2">
                        <img src="Image/telenor_400_400_black.jpg" alt="" style="width: 180%;max-height: 100px;max-width: 100px;padding-top: 15px;margin-left: -18px;" />
                    </div>-->
                    <div class="col-md-8">

                        <h4>Tilte</h4>
                        <span>Bedrift | </span>
                        <span>Oslo, Nordsrand</span>
                        <div style="margin-top:10px;margin-bottom:10px">
                            <button type="button" class="btn btn-primary btn-xs">Se min søknad</button>
                            <button type="button" class="btn btn-primary btn-xs">Se stilling</button>
                        </div>


                    </div>

                    <div class="col-md-4">
                        <table style="font-size: 12px; margin:20px 15px" cellpadding="10">
                            <tbody>
                                <tr>

                                    <td><strong class="ng-binding">Recieving</strong></td>
                                </tr>


                                <tr>

                                    <td><strong class="ng-binding">3 days left</strong></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>


                    <div class="stats-progress progress">
                        <div class="progress-bar2" style="width: 70.1%;"></div>
                    </div>


                </div>

                <div class="col-md-12 " style="border-bottom:1px solid #eeeeee;">




                    <!--<div class="col-md-2">
                        <img src="Image/telenor_400_400_black.jpg" alt="" style="width: 180%;max-height: 100px;max-width: 100px;padding-top: 15px;margin-left: -18px;" />
                    </div>-->
                    <div class="col-md-8">

                        <h4>Tilte</h4>
                        <span>Bedrift | </span>
                        <span>Oslo, Nordsrand</span>
                        <div style="margin-top:10px;margin-bottom:10px">
                            <button type="button" class="btn btn-primary btn-xs">Se min søknad</button>
                            <button type="button" class="btn btn-primary btn-xs">Se stilling</button>
                        </div>


                    </div>

                    <div class="col-md-4">
                        <table style="font-size: 12px; margin:20px 15px" cellpadding="10">
                            <tbody>
                                <tr>

                                    <td><strong class="ng-binding">Recieving</strong></td>
                                </tr>


                                <tr>

                                    <td><strong class="ng-binding">3 days left</strong></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>


                    <div class="stats-progress progress">
                        <div class="progress-bar2" style="width: 70.1%;"></div>
                    </div>


                </div>

            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-primary btn-xs" style="float:right">Se alle</button>
            </div>
        </div>



    </div>
</div>


<div class="row">

    <div class="col-md-4">
        <div class="panel panel-inverse" data-sortable-id="index-5">
            <div class="panel-heading">
                <div class="panel-heading-btn">

                </div>
                <h4 class="panel-title">Mine lagrede søk</h4>
            </div>


            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-inverse text-ellipsis">
                    <span class="badge badge-inverse">1 ny</span>
                    1. Molde - IT - design
                </a>
                <a href="#" class="list-group-item list-group-item-inverse text-ellipsis">
                    <span class="badge badge-inverse">16 ny</span>
                    2. Molde
                </a>
                <a href="#" class="list-group-item list-group-item-inverse text-ellipsis">
                    <span class="badge badge-inverse">14 ny</span>
                    3. South Korea
                </a>
            </div>


        </div>

    </div>

    <div class="col-md-8">
        <div class="panel panel-inverse" data-sortable-id="index-5">
            <div class="panel-heading">
                <div class="panel-heading-btn">

                </div>
                <h4 class="panel-title">Bedrifter jeg følger</h4>
            </div>
            <div class="panel-body">
                <div class="media media-sm">
                    <a class="media-left" href="javascript:;">
                        <img src="assets/img/user-1.jpg" alt="" class="media-object">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.</p>
                    </div>
                </div>

                <div class="media media-sm">
                    <a class="media-left" href="javascript:;">
                        <img src="assets/img/user-4.jpg" alt="" class="media-object">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.</p>
                    </div>
                </div>
                <div class="media media-sm">
                    <a class="media-left" href="javascript:;">
                        <img src="assets/img/user-10.jpg" alt="" class="media-object">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.</p>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-primary btn-xs" style="float:right">Se alle</button>
            </div>
        </div>



    </div>
</div>