
<div class="row ">

    <div class="col-md-2"></div>


    <div class="col-md-8 widget">
        <div class="col-md-4" role="complementary" style="
    margin-top: 20px;
">
            <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm " style="border-right:  1px solid #e5e5e5;
padding: 40px;
min-height: 600px;">
                <ul class="nav bs-docs-sidenav">

                    <li class="">
                        <a href="#glyphicons">Profile</a>
                    </li>
                    <li><a href="#breadcrumbs">Security</a></li>
                    <li>
                        <a href="#media">Settings</a>

                    </li>
                    <li>
                        <a href="#media">CV</a>

                    </li>

                </ul>

            </nav>
        </div>



        <div class="col-md-8 " role="complementary">

            <form class="form-horizontal" style="margin-top:60px;">
                <fieldset>



                    <!-- Form Name -->
                    <legend>Profile information</legend>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="FirstName">FirstName</label>
                        <div class="col-md-6">
                            <input id="FirstName" name="FirstName" type="text" placeholder="" class="form-control input-md" required="" />
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="LastNime">LastNime</label>
                        <div class="col-md-6">
                            <input id="LastNime" name="LastNime" type="text" placeholder="" class="form-control input-md" required="" />
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="BirthDate">BirthDate</label>
                        <div class="col-md-6">
                            <input id="BirthDate" name="BirthDate" type="text" placeholder="" class="form-control input-md" />
                        </div>
                    </div>
                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="about">About</label>
                        <div class="col-md-6">
                            <textarea class="form-control" id="about" name="about">Write some words about yourself</textarea>
                        </div>
                    </div>

                    <legend>Adress</legend>


                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="address1">address1</label>
                        <div class="col-md-6">
                            <input id="address1" name="address1" type="text" placeholder="" class="form-control input-md" />
                        </div>
                    </div>




                    <!-- Text input-->
                    <div class="form-group">


                        <label class="col-md-4 control-label" for="Adress2">Adress2</label>
                        <div class="col-md-6">
                            <input id="Adress2" name="Adress2" type="text" placeholder="" class="form-control input-md" />
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="City">City</label>
                        <div class="col-md-6">
                            <input id="City" name="City" type="text" placeholder="" class="form-control input-md" required="" />
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="CityID">CityID</label>
                        <div class="col-md-6">
                            <input id="CityID" name="CityID" type="text" placeholder="" class="form-control input-md" required="" />
                        </div>
                    </div>
                    <legend>Connect Sosialmedia</legend>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="FacebookURL">FacebookURL</label>
                        <div class="col-md-6">
                            <input id="FacebookURL" name="FacebookURL" type="text" placeholder="" class="form-control input-md" />
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="LinkedinURL">LinkedinURL</label>
                        <div class="col-md-6">
                            <input id="LinkedinURL" name="LinkedinURL" type="text" placeholder="" class="form-control input-md" />
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="TwitterURL">TwitterURL</label>
                        <div class="col-md-6">
                            <input id="TwitterURL" name="TwitterURL" type="text" placeholder="" class="form-control input-md" />
                        </div>
                    </div>
                </fieldset>
            </form>


        </div>
    </div>



    <div class="col-md-2"></div>
</div>