<div class="container-fluid">
    <div class="row banner">



        <div class="col-lg-4">

            <h1>Bedriftens logo</h1>

        </div>




        <div class="col-lg-8" style="
    padding: 40px;
">

            <h2 style="margin-bottom:30px">Title on vacancy</h2>


            <button type="button" class="btn btn-spotify btn-primary" style="
    border-radius: 30px;
">
                View
            </button>
            <button type="button" class="btn btn-spotify btn-outline " style="
    border-radius: 30px;
">
                Edit
            </button>


            <button type="button" class="btn btn-spotify btn-outline btn-round" style="
    border-radius: 30px;
">
                <i class="fa fa-ellipsis-h"></i>
            </button>
            <div style="float:right;position: relative;
">

                <ul class="navigation-user">
                    <li><a href="../navbar-fixed-top/"><img class="user-img img-circle" src="Image/profileimage.jpg" alt="" /></a></li>
                    <li><a href="../navbar-fixed-top/"><img class="user-img img-circle" src="Image/profileimage.jpg" alt="" /></a></li>
                    <li><a href="../navbar-fixed-top/"><img class="user-img img-circle" src="Image/profileimage.jpg" alt="" /></a></li>
                </ul>
            </div>
        </div>



        <!--<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>-->


    </div>





    <div class="row">
        <!-- Static navbar -->
        <nav class="navbar navbar-default">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">


                    <li class="active"><a href="#">Job adds</a></li>
                    <li><a href="#">Candidate</a></li>

                    <li><a href="#">Statistics</a></li>
                    <li><a href="#">Credit used</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="./">About the company<span class="sr-only">(current)</span></a></li>

                </ul>
            </div><!--/.nav-collapse -->
            <!--/.container-fluid -->
        </nav>


    </div>


    <div class="row" style="margin-top:40px;">
        <div class="col-lg-3 center">
            <a class="btn btn-lg btn-primary xxl" style="padding:55px;padding-top: 20px;
padding-bottom: 15px;" href="#">
                <div class="fa-3x pull-left " style="font-weight:bold;">WL</div> Job ads<br>Worklink
            </a>


        </div>


        <div class="col-lg-3 center">
            <a class="btn btn-lg btn-primary xxl" href="#">
                <i class="fa fa-facebook fa-3x pull-left "></i> Job ads<br>facebook
            </a>


        </div>

        <div class="col-lg-3 center">
            <a class="btn btn-lg btn-primary xxl" href="#">
                <i class="fa fa-linkedin fa-3x pull-left "></i> Job ads<br>Linkedin
            </a>


        </div>
        <div class="col-lg-3 center">
            <a class="btn btn-lg btn-primary xxl" href="#">
                <i class="fa fa-newspaper-o fa-3x pull-left "></i> Job ads<br>Newspaper
            </a>


        </div>


    </div>

</div>